/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.u-offset {
  margin-left: -40px;
  margin-right: -40px;
}

.u-border {
  margin-bottom: 40px;
  padding-left: 20px;
  border-left: 2px solid #bcbcbc;
}

#c-general, #c-educational, #c-practical {
  width: 100%;
  margin: 0 auto 40px;
  padding: 20px 20px;
  border: 1px solid #232323;
}

.c-app {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 1400px;
  margin: 0 auto;
}

.c-app__form {
  max-width: 550px;
  margin-right: 40px;
  margin-left: 40px;
  padding: 20px 20px;
  background-color: #ededed;
}

.c-btn {
  margin-right: 20px;
  margin-bottom: 10px;
  padding: 5px 10px;
  border: 1px solid #232323;
  border-radius: 3px;
}

.c-btn:hover {
  cursor: pointer;
}

.c-general__title,
.c-educational__title,
.c-practical__title {
  margin-bottom: 20px;
  font-size: 20px;
  font-weight: bold;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.c-educational__addBtn,
.c-practical__addBtn {
  background-color: #232323;
  color: #fff;
}

.c-form__group__submitBtn {
  padding: 10px 20px;
  background-color: #fc5d28;
  color: #fff;
  font-weight: bold;
}

.c-form__group__clearBtn {
  padding: 10px 20px;
  background-color: #f9435e;
  color: #fff;
  font-weight: bold;
}

.c-form__content {
  margin-bottom: 20px;
  padding: 10px 10px;
  border: 1px solid #232323;
}

.c-form__content__group {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 20px;
}

.c-form__content__group label {
  width: 33%;
  font-weight: bold;
}

.c-form__content__group input {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.c-form__content__group input[type='date'] {
  margin-right: 10px;
}

.c-form__content__group textarea {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.c-form__content__group__error {
  position: absolute;
  left: 33%;
  bottom: -15px;
  font-size: 10px;
  color: #f9435e;
  visibility: hidden;
}

.c-form__content__group__error.is-invalid {
  visibility: visible;
}

.c-form__content__group--range {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.c-form__content__group--range .c-form__content__group__error {
  bottom: 0;
}

.c-form__content__group__date {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  margin-bottom: 20px;
}

.c-view {
  position: relative;
  max-width: 900px;
  min-height: 100vh;
  padding: 80px 80px 60px;
  background-color: #232323;
  color: #bcbcbc;
  font-size: 12px;
}

.c-view::before {
  position: absolute;
  content: '';
  width: 80px;
  height: 80px;
  top: 0;
  left: 0;
  background-color: #fc5d28;
}

.c-view::after {
  position: absolute;
  content: '';
  width: 40px;
  height: 40px;
  bottom: 0;
  right: 0;
  background-color: #fc5d28;
}

.c-view__header {
  width: 100%;
  height: 200px;
  margin-bottom: 60px;
}

.c-view__header__img {
  display: inline-block;
  width: 150px;
  height: 100%;
  border: 2px solid #bcbcbc;
  vertical-align: bottom;
  margin-right: 20px;
}

.c-view__header__img img {
  width: 100%;
  height: 100%;
}

.c-view__header__teaser {
  display: inline-block;
}

.c-view__header__teaser p {
  margin-top: 10px;
}

.c-view__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

.c-view__content h2 {
  margin-bottom: 20px;
  font-size: 20px;
  font-weight: bold;
  letter-spacing: 2px;
}

.c-view__content__left, .c-view__content__right {
  display: inline-block;
  width: calc(50% - 20px*4);
  margin: 0 40px;
}

.c-view__content__left__general,
.c-view__content__right__practical,
.c-view__content__left__educational {
  position: relative;
}

.c-view__content__left__general::before,
.c-view__content__right__practical::before,
.c-view__content__left__educational::before {
  position: absolute;
  content: '';
  top: 20px;
  left: -12px;
  width: 10px;
  height: 10px;
  border: 6px solid #232323;
  border-radius: 50%;
  background-color: #fc5d28;
  z-index: 2;
}

.c-view__content__right__practical__section,
.c-view__content__left__educational__section {
  margin-bottom: 40px;
}

.c-view__content__left__general__item,
.c-view__content__right__practical__section__item,
.c-view__content__left__educational__section__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 10px;
}

.c-view__content__left__general__item h3,
.c-view__content__right__practical__section__item h3,
.c-view__content__left__educational__section__item h3 {
  width: 40%;
  font-weight: bold;
}

.c-view__content__left__general__item p,
.c-view__content__right__practical__section__item p,
.c-view__content__left__educational__section__item p {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

@media screen and (max-width: 1280px) {
  .c-app {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .c-app__form {
    margin: 0 auto 40px;
  }
  .c-form, .c-view {
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (max-width: 850px) {
  .c-view {
    margin-left: 20px;
    margin-right: 20px;
  }
}

@media screen and (max-width: 750px) {
  .c-view__content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .c-view__content__left, .c-view__content__right {
    width: calc(100% - 80px);
  }
}

@media screen and (max-width: 600px) {
  .c-form__content__group {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .c-form__content__group label {
    width: 100%;
    margin-bottom: 5px;
  }
  .c-form__content__group input {
    width: 100%;
  }
  .c-form__content__group input[type='date'] {
    width: 100%;
    margin-right: 0;
  }
  .c-form__content__group textarea {
    width: 100%;
  }
  .c-form__content__group__date {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .c-form__content__group__error {
    left: 0;
  }
  .c-view {
    padding: 40px 40px;
  }
  .c-view::before {
    width: 40px;
    height: 40px;
  }
  .c-view::after {
    width: 20px;
    height: 20px;
  }
}
/*# sourceMappingURL=main.css.map */